@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
	font-family: $font_name;
	font-display: swap;
	src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
	font-weight: #{$weight};
	font-style: #{$style};
	}
}
// Подключение шрифтов
@import "fonts";


//===============================================================================================================================================================================================
// Обнуление
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
//===============================================================================================================================================================================================

// Media 
$md1 : 991px;
$md2 : 767px;
$md3 : 480px;
$md4 : 320px;

$main-color: #4fbfa8;
$darker-color :#348e7b;
$main-font : "Roboto", sans-serif; 
$sec-font :"Roboto Slab", serif;


@import "ui";


html {
	font-size: 16px;
}

body {
	font-family: $main-font;
	font-size: 1rem;

	@media (max-width: $md2) {
		&.lock {
			overflow: hidden;
		}
	}
}

// Container
.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

// Header 
.header {
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: #fff;
	// header__box
	&__box {
		height: 80px;
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;
		align-items: center;

		@media (max-width: $md2) {
			height: 60px;
		}
	}
	// header__logo
	&__logo {
		font-family: $sec-font;
		font-size: (20/16) + rem;
		font-weight: 700;
		color: $main-color;
		transition: color .2s linear;
		border-top: 3px solid #fff;
		letter-spacing: 0.1em;
		z-index: 2;

		&:hover {
			color:$darker-color;
		}

		@media (max-width: $md2) {
			border-top: 0;
		}
	}
}

// Menu
.menu {
	
	@media (max-width: $md2) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		transition: all .7s ease;
		transform: translateY(-100%);
		overflow: auto;
		
		&.active {
			transform: translateY(0);
		}
	}
	// menu__list
	&__list {
		display: flex;
		justify-content: space-between;
		text-align: center;

		@media (max-width: $md2) {
			flex-direction: column;
			margin-top: 60px;
		}
	}
	// menu__item
	&__item {
		padding: 32px 10px;
		border-top: 3px solid #fff;
		margin-right: 10px;
		transition: border .2s linear;

		&:last-child {
			margin-right: 0;
		}

		&:hover, &.active {
			.menu__link {
				color: #333;
			}

			border-top: 3px solid $main-color;

			@media (max-width: $md2) {
				border-top: 0;

				.menu__link {
				color: $main-color;
				}	
			}
		}

		@media (max-width: $md2) {
			margin-right: 0;
			border-top: 0;
		}
	}
	// menu__link
	&__link {
		color: #777;
		transition: color .2s linear;
		font-size: (14/16)+rem;
		letter-spacing: 0.1em;
	}
}

// Intro

.intro {
	text-align: center;
	font-family: $sec-font;
	color: #fff;
	background: url('../img/intro/home.jpg') 50% no-repeat;
	background-size: cover;
	height: 100vh;
	min-height: 720px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6);
	@media (max-width: $md3) {
		text-shadow: 0 1px 4px rgba(0,0,0,1);


	}

	// .intro__content
	&__container {
		position: absolute;
		top: 50%;
		left: 50%;	
		transform: translate3d(-50%, -50%, 0);
		width: 100%;
		height: 100%;
	}

	&__logo-container {
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translateX(-50%);
		
		@media (max-width: $md3) {
  			top: 20%;
  		}
	}

	// .intro__logo
	&__logo {
		width: 130px;
		height: 130px;
  		filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, 0.4));
  		opacity: 0;
	}

	// .intro__content
	&__content {
		position: absolute;
		top: 55%;
		padding: 0 15px;
		margin: 0 -15px;
		width: 100%;
		@media (max-width: $md3) {
			top: 45%
		}
	}


	// .intro__title
	&__title {
		font-size: (57.6/16)+rem;
		font-weight: 700;
		margin: 0 0 48px;
		animation-delay: .5s;
		opacity: 0;
	}
	// .intro__subtitle
	&__subtitle {
		font-size: (28/16)+rem;
		line-height: 1.2;
		animation-delay: 1s;
		opacity: 0;
	}
}

// Section
.section {
	padding: 60px 0;
	color: #555;
	text-align: center;
	// .section__title
	&__title {
		font-family: $sec-font;
		font-size: 2.9rem;
		font-weight: 400;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 10px 0;
		margin-bottom: 40px;
		display: inline-block;
		text-transform: uppercase;
		opacity: 0;
	}
	// .section__content
	&__content {
		display: flex;
		justify-content: space-between;
	}
	// .section__text
	&__text {
		// flex: 1 1 40%;
		width: 48%;
		text-align: left;
		font-size: 1rem;
		line-height: 1.5;
		opacity: 0;
		animation-delay: .25s;
		& p {
			margin-bottom: 16px;
		}
	}
	// .section__skills
	&__skills {
		// flex: 1 1 40%;
		width: 48%;
		opacity: 0;
		animation-delay: .500s;
	}
}

// Skills
.skills {
	// .skills__item
	&__item {
		margin-bottom: 20px;
	}
	// .skills__title
	&__title {
		text-transform: uppercase;
		font-weight: 300;
		text-align: left;
		line-height: 1.5;
	}
	// .skills__bar
	&__bar {
		background-color: #e9ecef;
	}

	&__html,&__css,&__javascript,&__jquery {
		background-color: $main-color;
		height: 30px;
	}
	// .skills__html
	&__html {
		width: 75%;
	}
	// .skills__css
	&__css {
		width: 65%;
		opacity: 0.8;
	}
	// .skills__javascript
	&__javascript {
		width: 30%;
		opacity: 0.7;
	}
	// .skills__jquery
	&__jquery {
		width: 35%;
		opacity: 0.6;
	}

}
