@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
	font-family: $font_name;
	font-display: swap;
	src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
	font-weight: #{$weight};
	font-style: #{$style};
	}
}
// Подключение шрифтов
@import "fonts";

//===============================================================================================================================================================================================
// Обнуление
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
//===============================================================================================================================================================================================

// Media 
$md1 : 991px;
$md2 : 767px;
$md3 : 480px;
$md4 : 320px;

$main-color: #4fbfa8;
$darker-color :#348e7b;
$main-font : "Roboto", sans-serif; 
$sec-font :"Roboto Slab", serif;


@import "ui";


html {
	font-size: 16px;
}

body {
	font-family: $main-font;
	font-size: 1rem;
	line-height: 1.5;

	@media (max-width: $md2) {
		&.lock {
			overflow: hidden;
		}
	}
}

// Container
.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

// Header 
.header {
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: #fff;
	// header__box
	&__box {
		height: 80px;
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;
		align-items: center;

		@media (max-width: $md2) {
			height: 60px;
		}
	}
	// header__logo
	&__logo {
		font-family: $sec-font;
		font-size: (20/16) + rem;
		font-weight: 700;
		color: $main-color;
		transition: color .2s linear;
		border-top: 3px solid #fff;
		letter-spacing: 0.1em;
		z-index: 2;

		&:hover {
			color:$darker-color;
		}

		@media (max-width: $md2) {
			border-top: 0;
		}
	}
}

// Menu
.menu {		
	font-size: (14/16)+rem;
	@media (max-width: $md2) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		transition: all .7s ease;
		transform: translateY(-100%);
		overflow: auto;
		
		&.active {
			transform: translateY(0);
		}
	}
	// menu__wrapper
	&__wrapper {
		display: flex;
		@media (max-width: $md2) {
			flex-direction: column;
			align-items: center;
		}
	}
	// menu__list
	&__list {
		display: flex;
		justify-content: space-between;
		text-align: center;
		@media (max-width: $md2) {
			flex-direction: column;
			margin-top: 60px;
		}
	}
	// menu__item
	&__item {
		padding: 28px 10px;
		border-top: 3px solid #fff;
		margin-right: 10px;
		transition: border .2s linear;

		&:last-child {
			margin-right: 0;
		}

		&:hover, &.active {
			.menu__link {
				color: #333;
			}

			border-top: 3px solid $main-color;

			@media (max-width: $md2) {
				border-top: 0;

				.menu__link {
				color: $main-color;
				}	
			}
		}

		@media (max-width: $md2) {
			margin-right: 0;
			border-top: 0;
		}

		&.touch {
			&:hover {
				border-color: #fff;
			}
			&.active {
				border-color: $main-color;
			}
		}
	}
	// menu__link
	&__link {
		color: #777;
		transition: color .2s linear;
		// font-size: (14/16)+rem;
		letter-spacing: 0.1em;
	}
}

// Lang Switch
.lang-switch{
	color: #777;
	letter-spacing: 0.1em;
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	transition: all .3s ease;

	&__current {
		border-top: 3px solid #fff;
		color: $main-color;
		cursor: pointer;
		position: relative;
		z-index: 10;
		padding: 28px 10px;
		background-color: #fff;
		transition: all .3s ease;
		&:hover {
			background-color: $main-color;
			border-color: $main-color;	
			color: #fff;
			// .lang-switch {
			// 	background-color: $main-color;
			// 	border-color: $main-color;
			// 	// color: #fff;
			// }
		}
	}
	&__choice {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease;

		&.active {
			transform: translateY(40px);
			opacity: 1;
			visibility: visible;
		}
	}
	&__item {
		padding: 15px 6px 10px;
		background-color: #fff;
		text-align: left;
		display: block;
		cursor: pointer;
		transition: color .2s ease;
		&:hover {
			color:$darker-color;
		}
	}
}

// Intro

.intro {
	text-align: center;
	font-family: $sec-font;
	color: #fff;
	background: url('../img/intro/home.jpg') 50% no-repeat;
	background-size: cover;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	min-height: 720px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6);
	@media (max-width: $md3) {
		text-shadow: 0 1px 4px rgba(0,0,0,1);
	}

	// .intro__content
	&__container {
		position: absolute;
		top: 50%;
		left: 50%;	
		transform: translate3d(-50%, -50%, 0);
		width: 100%;
		height: 100%;
	}

	&__logo-container {
		position: absolute;
		top: 28%;
		left: 50%;
		transform: translateX(-50%);
		
		@media (max-width: $md3) {
  			top: 20%;
  		}
	}

	// .intro__logo
	&__logo {
		width: 130px;
		height: 130px;
  		filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, 0.4));
  		opacity: 0;
	}
	// .intro__content
	&__content {
		position: absolute;
		top: 55%;
		padding: 0 15px;
		margin: 0 -15px;
		width: 100%;
		@media (max-width: $md3) {
			top: 45%
		}
	}
	// .intro__title
	&__title {
		font-size: (57.6/16)+rem;
		font-weight: 700;
		line-height: 1.2;
		margin: 0 0 48px;
		animation-delay: .5s;
		opacity: 0;
	}
	// .intro__subtitle
	&__subtitle {
		font-size: (28/16)+rem;
		line-height: 1.2;
		animation-delay: 1s;
		opacity: 0;
	}
}

// Section
.section {
	padding: 60px 0;
	color: #555;
	text-align: center;
	overflow: hidden;

	@media (max-width: $md3) {
		padding: 40px 0;
	}
	// .section_green
	&_green {
		background: linear-gradient(to bottom, #4fbfa8, #74cdba);
		color: #fff;
	}
	// .section__title
	&__title {
		font-family: $sec-font;
		line-height: 1.2;
		font-size: 2.9rem;
		font-weight: 400;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 10px 0;
		margin-bottom: 40px;
		display: inline-block;
		text-transform: uppercase;
		opacity: 0;
		@media (max-width: $md3) {
			font-size: 2.5rem;
		}
		&_visible {
			opacity: 1;
		}
	}

	// .section__subtitle
	&__subtitle {
		font-size: 1.4375rem;
		font-weight: 300;
		margin-bottom: 3rem;
		opacity: 0;
	}
	// .section__line
	&__line {
		border-top: 1px solid #fff;
		margin: 1rem 0;
		opacity: 0;

		@media (max-width: $md2) {
			width: 85%;
			margin: 1rem auto;
		}
		@media (max-width: $md3) {
			width: 100%;
		}
	}
}

// About
.about {
	display: flex;
	justify-content: space-between;

	@media (max-width: $md2) {
		flex-wrap: wrap;
		justify-content: center;
	}
	// .about__text
	&__text {
		width: 48%;
		text-align: left;
		opacity: 0;
		animation-delay: .25s;
		& p {
			margin-bottom: 16px;
		}

		@media (max-width: $md2) {
			width: 85%;
			margin-bottom: 1rem;
		}

		@media (max-width: $md3) {
			width: 100%;
		}
	}
	// .about__skills
	&__skills {
		width: 48%;
		opacity: 0;
		animation-delay: .500s;

		@media (max-width: $md2) {
			width: 85%;
		}

		@media (max-width: $md3) {
			width: 100%;
		}
	}
}

// Skills
.skills {
	// .skills__item
	&__item {
		margin-bottom: 20px;
	}
	// .skills__title
	&__title {
		text-transform: uppercase;
		font-weight: 300;
		text-align: left;
	}
	// .skills__bar
	&__bar {
		background-color: #e9ecef;
	}

	&__html,&__css,&__javascript,&__jquery {
		background-color: $main-color;
		height: 30px;
	}
	// .skills__html
	&__html {
		width: 75%;
	}
	// .skills__css
	&__css {
		width: 65%;
		opacity: 0.8;
	}
	// .skills__javascript
	&__javascript {
		width: 30%;
		opacity: 0.7;
	}
	// .skills__jquery
	&__jquery {
		width: 35%;
		opacity: 0.6;
	}

}

// Services
.services {
	display: flex;
	justify-content: space-between;
	@media (max-width: $md2) {
		flex-wrap: wrap;
		// align-items: center;
		justify-content: center;
	}
	// .services__item
	&__item {
		width: 32%;
		opacity: 0;

		&_first {
			animation-delay: .2s;
		}

		&_second {
			animation-delay: .4s;
		}

		&_third {
			animation-delay: .6s;
		}

		@media (max-width: $md2) {
			width: 85%;
			margin-bottom: 1rem;
		}

		@media (max-width: $md3) {
			width: 100%;
		}
	}
	// .services__icon
	&__icon {
		font-size: (56/16) + rem;
		line-height: 1;
		margin-bottom: 10px;
		text-shadow: 5px 5px 0 #3aa18c;
	}
	// .services__title
	&__title {
		font-family: $sec-font;
		font-size: 1.75rem;
		line-height: 1.2;
		margin-bottom: 1rem;
	}
	// .services__text
	&__text {
		font-size: 0.9rem;
		text-align: left;
	}
}
// Section-footer
.section-footer {
	opacity: 0;
	// .section-footer__title
	&__title {
		font-size: 1.4375rem;
		font-weight: 300;
		margin-bottom: 1rem;
	}
	// .section-footer__btn
	&__btn {
		transition: box-shadow .2s ease, color .2s ease;
		line-height: 1.5;
		&:focus {
			text-decoration: underline;
			box-shadow: 0 0 0 0.2rem rgba(248,249,250,0.5);
			color: #348e7b;
		}
	}

	@media (max-width: $md2) {
		width: 85%;
		margin: 0 auto;
	}

	@media (max-width: $md3) {
		width: 100%;
	}
}
// Button
.btn {
	color: #fff;
	text-transform: uppercase;
	padding: .45rem .75rem;
	border: 1px solid #fff;
	display: inline-block;
	transition: all .3s ease;
	letter-spacing: 0.1em;
	
	&:hover {
		background-color: #fff;
		color: #000;
	}
}

// Work
.work {	
	opacity: 0;
	// .work__row
	&__row {
		display: flex;
		justify-content: space-between;

		& + & {
			margin-top: 2%;
		}

		@media (max-width: $md1) {
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
		@media (max-width: $md3) {
			& + & {
			margin-top: 3%;
			}
		}
	}
	// .work__item
	&__item {
		width: 23%;
		&:hover {
			.work__text {
				opacity: 1;
				visibility: visible;
				transform: translateY(-50%);
			}
			.work__img {
				transform: scale(1.3);
			}
		}

		@media (max-width: $md1) {
			width: 45%;

			&:nth-last-child(-n+2) {
				margin-top: 2%;
			}
		}

		@media (max-width: $md3) {
			width: 100%;
			& + & {
				margin-top: 3%;
			}
		}
	}
	// .work__link
	&__link {
		overflow: hidden;
		display: inline-block;
		position: relative;
		color: #fff;
	}
	// .work__img
	&__img {
		display: block;
		max-width: 100%;
		height: auto;
		transition: transform .4s ease;
	}
	// .work__text
	&__text {
		position: absolute;
		padding: 10px;
		top: 50%;
		transform: translateY(50%);
		background-color: rgba(0,0,0,0.7);
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		transition: all .4s ease;
	}
	// .work__title
	&__title {
		font-family: $sec-font;
		font-size: 1.5rem;
		line-height: 1.2;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-weight: 300;
		margin-bottom: .5rem;
	}
	// .work__subtitle
	&__subtitle {
	}
}
// Contact
.contact {
	opacity: 0;
	// .contact__form
	&__form {
	}
}
// Form
.form {
	width: 65%;
	margin: 0 auto;
	@media (max-width: $md1) {
		width: 80%;
	}
	@media (max-width: $md3) {
		width: 100%;
	}
	// .form__container
	&__container {
		display: flex;
		justify-content: space-between;

		& + & {
			margin-top: 20px;
		}

		@media (max-width: $md2) {
			flex-wrap: wrap;
		}
		@media (max-width: $md3) {
			& + & {
			margin-top: 10px;
			}
		}
	}
	// .form__input
	&__input {
		padding: .45rem .75rem;
		border: 1px solid #ced4da;
		line-height: 1.5;
		transition: box-shadow .2s ease, border .2s ease;
		font-size: 1rem;
		color:#495057;
		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(79,191,168,0.25);
			border-color: #ade1d6;
		}
	}
	&__text {
		width: 48%;

		@media (max-width: $md2) {
			width: 100%;

			& + & {
				margin-top: 20px;
			}
		}
		@media (max-width: $md3) {
			& + & {
			margin-top: 10px;
			}
		}
	}
	&__area {
		width: 100%;
		min-width: 100%;
		min-height: 125px;
		max-height: 300px;
		margin-bottom: 20px;
	}
	&__submit {
		background-color: #fff;
		color: $main-color;
		border-color: $main-color;
		font-size: 1rem;
		&:hover {
			color: #fff;
			background-color: $main-color;
		}
		&:active {
			color: #212529;
			background-color: $main-color;
		}
		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(79,191,168,0.5);
		}
	}
}
// Footer
.footer {
	background-color: #222;
	padding: 30px 0;
}
// Copyright
.copyright {
	font-family: $sec-font;
	color: #eee;
	font-size: 0.9rem;
	text-align: center;
}

