@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome.eot?90674128");
  src: url("../fonts/fontawesome.eot?90674128#iefix") format("embedded-opentype"), url("../fonts/fontawesome.woff2?90674128") format("woff2"), url("../fonts/fontawesome.woff?90674128") format("woff"), url("../fonts/fontawesome.ttf?90674128") format("truetype"), url("../fonts/fontawesome.svg?90674128#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: '\e800';
}

.icon-gauge:before {
  content: '\f0e4';
}

.icon-html5:before {
  content: '\f13b';
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@-webkit-keyframes appearance-top {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appearance-top {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes appearance-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appearance-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.burger:before,
.burger:after,
.burger span {
  content: '';
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.burger span {
  top: 9px;
}

.burger:before {
  top: 0;
}

.burger:after {
  bottom: 0;
}

.burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.burger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.appearance-anim-top {
  -webkit-animation: appearance-top 2s ease forwards .200s;
          animation: appearance-top 2s ease forwards .200s;
}

.appearance-anim-bottom {
  -webkit-animation: appearance-bottom 2s ease forwards .200s;
          animation: appearance-bottom 2s ease forwards .200s;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.header__box {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: "Roboto Slab", serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #4fbfa8;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
  border-top: 3px solid #fff;
  letter-spacing: 0.1em;
  z-index: 2;
}

.header__logo:hover {
  color: #348e7b;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.menu__item {
  padding: 32px 10px;
  border-top: 3px solid #fff;
  margin-right: 10px;
  -webkit-transition: border .2s linear;
  -o-transition: border .2s linear;
  transition: border .2s linear;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover,
.menu__item.active {
  border-top: 3px solid #4fbfa8;
}

.menu__item:hover .menu__link,
.menu__item.active .menu__link {
  color: #333;
}

.menu__link {
  color: #777;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}

.intro {
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: #fff;
  background: url("../img/intro/home.jpg") 50% no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.intro__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 100%;
  height: 100%;
}

.intro__logo-container {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.intro__logo {
  width: 130px;
  height: 130px;
  -webkit-filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, 0.4));
  opacity: 0;
}

.intro__content {
  position: absolute;
  top: 55%;
  padding: 0 15px;
  margin: 0 -15px;
  width: 100%;
}

.intro__title {
  font-size: 3.6rem;
  font-weight: 700;
  margin: 0 0 48px;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  opacity: 0;
}

.intro__subtitle {
  font-size: 1.75rem;
  line-height: 1.2;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
}

.section {
  padding: 60px 0;
  color: #555;
  text-align: center;
  overflow: hidden;
}

.section_green {
  background: -webkit-gradient(linear, left top, left bottom, from(#4fbfa8), to(#74cdba));
  background: -o-linear-gradient(top, #4fbfa8, #74cdba);
  background: linear-gradient(to bottom, #4fbfa8, #74cdba);
  color: #fff;
}

.section__title {
  font-family: "Roboto Slab", serif;
  font-size: 2.9rem;
  font-weight: 400;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 40px;
  display: inline-block;
  text-transform: uppercase;
}

.section__subtitle {
  font-size: 1.4375rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.section__line {
  border-top: 1px solid #fff;
  margin: 1rem 0;
  opacity: 0;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__text {
  width: 48%;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.about__text p {
  margin-bottom: 16px;
}

.about__skills {
  width: 48%;
  opacity: 0;
  -webkit-animation-delay: .500s;
          animation-delay: .500s;
}

.skills__item {
  margin-bottom: 20px;
}

.skills__title {
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  line-height: 1.5;
}

.skills__bar {
  background-color: #e9ecef;
}

.skills__html,
.skills__css,
.skills__javascript,
.skills__jquery {
  background-color: #4fbfa8;
  height: 30px;
}

.skills__html {
  width: 75%;
}

.skills__css {
  width: 65%;
  opacity: 0.8;
}

.skills__javascript {
  width: 30%;
  opacity: 0.7;
}

.skills__jquery {
  width: 35%;
  opacity: 0.6;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  width: 32%;
  opacity: 0;
}

.services__item_first {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.services__item_second {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.services__item_third {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.services__icon {
  font-size: 3.5rem;
  margin-bottom: 10px;
  text-shadow: 5px 5px 0 #3aa18c;
}

.services__title {
  font-family: "Roboto Slab", serif;
  font-size: 1.75rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.services__text {
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.5;
}

.section-footer {
  opacity: 0;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.section-footer__title {
  font-size: 1.4375rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  padding: .45rem .75rem;
  border: 1px solid #fff;
  display: inline-block;
  line-height: 1.5;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  letter-spacing: 0.1em;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__row + .work__row {
  margin-top: 2%;
}

.work__item {
  width: 23%;
}

.work__item:hover .work__text {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.work__item:hover .work__img {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.work__link {
  overflow: hidden;
  display: inline-block;
  position: relative;
  color: #fff;
}

.work__img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.work__text {
  position: absolute;
  padding: 10px;
  top: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.work__title {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: .5rem;
}

.work__subtitle {
  line-height: 1.5;
}

@media (max-width: 991px) {
  .work__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .work__item {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .burger {
    display: block;
  }

  body.lock {
    overflow: hidden;
  }

  .header__box {
    height: 60px;
  }

  .header__logo {
    border-top: 0;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    overflow: auto;
  }

  .menu.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }

  .menu__item:hover,
  .menu__item.active {
    border-top: 0;
  }

  .menu__item:hover .menu__link,
  .menu__item.active .menu__link {
    color: #4fbfa8;
  }

  .menu__item {
    margin-right: 0;
    border-top: 0;
  }

  .section__line {
    width: 85%;
    margin: 1rem auto;
  }

  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__text {
    width: 85%;
    margin-bottom: 1rem;
  }

  .about__skills {
    width: 85%;
  }

  .services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .services__item {
    width: 85%;
    margin-bottom: 1rem;
  }

  .section-footer {
    width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .intro {
    text-shadow: 0 1px 4px black;
  }

  .intro__logo-container {
    top: 20%;
  }

  .intro__content {
    top: 45%;
  }

  .section__line {
    width: 100%;
  }

  .about__text {
    width: 100%;
  }

  .about__skills {
    width: 100%;
  }

  .services__item {
    width: 100%;
  }

  .section-footer {
    width: 100%;
  }
}